{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 80,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "none",
    "arrowParens": "avoid",
    "vueIndentScriptAndStyle": true
}
