@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-size: clamp(10vw, 4.5rem, 17vw);
    }

    ::selection {
        background: #5cff1ade;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #f9f9f9;
        color: #353535;
        overflow-y: scroll;
        overflow-x: hidden;
        /* text-rendering: optimizeLegibility; */
        /* -webkit-font-smoothing: subpixel-antialiased; */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    main {
        overflow-x: hidden;
        margin-bottom: 15vh;
    }

    h1 {
        @apply font-sans uppercase tracking-tight;
        font-size: clamp(2.8rem, 6vw, 12rem);
        line-height: 1;
        padding-right: 0.025em;
    }

    h2 {
        @apply font-sans text-6xl uppercase tracking-tight;
        font-size: clamp(1.9rem, 4.2vw, 5rem);
        line-height: 0.825;
        padding-right: 0.025em;
    }

    h3 {
        @apply font-sans uppercase tracking-tight;
        font-size: clamp(1.6rem, 3.1vw, 7rem);
        line-height: 1;
        padding-right: 0.025em;
    }

    p {
        @apply font-serif;
        font-size: clamp(1.3rem, 1.4vw, 2rem);
    }

    a,
    button {
        transition: transform 0.3s, font-weight 0.2s ease-in-out;
    }

    a:active {
        transition: font-weight 0.1s ease-in-out;
        font-weight: normal;
    }

    a::before {
        display: block;
        content: attr(title);
        font-weight: 500;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    @media (hover: hover) {
        a:hover {
            font-weight: 500;
        }
    }
}

@layer components {
    .sectionContainer {
        padding: 10vw 0 10vw;
        margin: auto;
        width: clamp(65%, 500px, 100%);
    }

    .sectionDesc {
        width: clamp(49%, 380px, 100%);
        margin: 1em 0 2.5em;
    }

    .h3 {
        @apply font-sans uppercase tracking-tight;
        font-size: clamp(1.6rem, 3.1vw, 7rem);
        line-height: 1;
        padding-right: 0.025em;
    }

    .p1 {
        font-size: clamp(1.25rem, 1.9vw, 2.2rem);
    }

    .p2 {
        @apply font-sans font-light italic leading-tight;
        font-size: clamp(1rem, 1.4vw, 2rem);
        /* line-height: normal; */
    }

    .link {
        @apply font-light underline;
        text-decoration-thickness: from-font;
        font-size: clamp(1.5rem, 1.9vw, 3rem);
        line-height: 1.2;
        transform: skewX(-10deg);
    }
}
