@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --header-size: clamp(4rem, 10vw, 11vw); */
    --header-size: clamp(10vw, 4.5rem, 17vw);
}

body {
    @apply bg-white;
    /* text-rendering: optimizeLegibility; */
    /* -webkit-font-smoothing: subpixel-antialiased; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.router-link-exact-active,
.linkActive {
    transform: skewX(-10deg);
}

@layer base {
    h1 {
        @apply font-sans uppercase tracking-tight;
        font-size: clamp(2.5rem, 6vw, 12rem);
        line-height: 1;
    }

    h2 {
        @apply font-sans text-6xl uppercase tracking-tight;
        font-size: clamp(1.7rem, 4.2vw, 10rem);
        line-height: 0.825;
    }

    h3 {
        @apply font-sans uppercase tracking-tight;
        font-size: clamp(3rem, 4vw, 15rem);
        line-height: 1;
    }

    p {
        @apply font-serif;
        font-size: clamp(1rem, 1.3vw, 2rem);
    }

    a {
        transition: transform 0.3s, font-weight 0.2s ease-in-out;
    }

    a:hover {
        background-color: rgb(255, 0, 85);
        font-weight: 500;
        transform: skewX(-10deg);
    }

    a:active {
        transition: font-weight 0.1s ease-in-out;
        font-weight: 300;
    }

    a::before {
        display: block;
        content: attr(title);
        font-weight: 500;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}

@layer components {
    .p1 {
        font-size: clamp(1rem, 1.9vw, 3rem);
    }

    .link {
        @apply font-light underline;
        font-size: clamp(1.2rem, 1.8vw, 3rem);
        line-height: 1.2;
    }
}
